# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.env

# Data (keep raw, ignore large processed if needed)
# data/raw/online_retail_II.xlsx
# data/interim/
# data/processed/

# Models
models_artifacts/*.pkl
models_artifacts/*.h5

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.dbdata/interim/cleaned_data.csv
