numpy==1.26.4
pandas==2.2.0
scipy==1.16.1

scikit-learn==1.7.1
statsmodels

xgboost==3.3.0
lightgbm==4.6.0

torch==2.7.1

shap==0.46.0
lime==0.2.0.1

matplotlib==3.8.3
seaborn

joblib
PyYAML

fastapi
uvicorn
sqlalchemy

streamlit==1.31.1